/.vscode
/01pattern.exe
/02Pattern.exe
/03pattern.exe
/04pattern.exe
/05pattern.exe
/06pattern.exe
/07pattern.exe
/08pattern.exe
/09pattern.exe
/10pattern.exe
/11pattern.exe
/12pattern.exe
/13pattern.exe
/14pattern.exe
/15pattern.exe
/16pattern.exe
/17pattern.exe
/18pattern.exe
/19pattern.exe
/20pattern.exe
/21pattern.exe
/22pattern.exe
/23pattern.exe
/24pattern.exe
/25pattern.exe